.seriesCheckBoxes :global {
  @apply flex flex-col gap-2 overflow-auto
  bg-white py-4 px-5;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  border-width: 1px;
  h3 {
    @apply block w-full text-base font-semibold text-blue-dark;
  }
  .checkboxes {
    @apply flex flex-wrap justify-between border-b border-gray-300 pb-7;
    gap: 20px;
    .col {
      @apply flex flex-wrap gap-5;
      width: calc(50% - 10px);
    }
    .form-check {
      @apply -mb-2 flex w-full flex-row items-center justify-start gap-2 border-gray-300 p-2;
      border-width: 1px;
      border-radius: 5px;
      box-sizing: border-box;
      &.disabled {
        input,
        label {
          @apply opacity-50;
        }
      }
    }
  }
  input {
    // @apply appearance-none h-4 w-4 border border-gray-400 rounded-sm bg-white
    //  checked:border-none focus:outline-none transition duration-200
    // align-top bg-no-repeat bg-center bg-contain cursor-pointer;
    @apply float-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none rounded-sm border border-gray-300 bg-white bg-contain bg-center bg-no-repeat align-top transition duration-200 checked:border-blue-600 checked:bg-blue-600 focus:outline-none;
    @apply checked:bg-blue-brand #{!important};
  }
  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  input:checked ~ label {
    @apply text-blue-brand #{!important};
  }

  .btn {
    @apply ml-auto mt-2;
  }
}
