.contactDetails {
  @apply mt-5 flex flex-col gap-3;
  :global {
    .contact-fields {
      @apply flex flex-wrap justify-between border-b border-gray-300 pb-7;
      gap: 20px;
      .col {
        @apply flex flex-wrap gap-5;
      }
      .form-check {
        @apply -mb-2 flex w-full flex-row items-center justify-start gap-2 border-gray-300 p-2;
        border-width: 1px;
        border-radius: 5px;
        box-sizing: border-box;
        &.disabled {
          input,
          label {
            @apply opacity-50;
          }
        }
      }
    }
    input {
      // @apply appearance-none h-4 w-4 border border-gray-400 rounded-sm bg-white
      //  checked:border-none focus:outline-none transition duration-200
      // align-top bg-no-repeat bg-center bg-contain cursor-pointer;
      @apply float-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none rounded-sm border border-gray-300 bg-white bg-contain bg-center bg-no-repeat align-top transition duration-200 checked:border-blue-600 checked:bg-blue-600 focus:outline-none;
      @apply checked:bg-blue-brand #{!important};
    }
    input:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    input:checked ~ label {
      @apply text-blue-brand #{!important};
    }
    .items {
      @apply flex flex-col gap-3;
    }
    .btn {
      @apply ml-auto mt-2;
    }

    .add-new {
      @apply flex flex-row items-center justify-between rounded-md py-3 px-4;
      @apply cursor-pointer gap-2 overflow-auto bg-white;
      @apply shadow-[0_0_2px_0_rgb(0,0,0,0.1)];
      border-radius: 12px;
      border-width: 1px;
      span {
        @apply block w-full text-md font-semibold text-blue-brand leading-tight flex flex-row uppercase;
      }
      svg {
        @apply relative ml-auto block opacity-100;
        width: 15px;
        height: 15px;
      }
    }
  }
}
