@import "@/styles/base/animations.scss";

.formGroup :global {
  .main-event-img {
    @apply mt-2 mb-8;
    margin-right: 42px;
  }
  .instructions {
    // max-width: 520px;
  }
  .main-description {
    @apply mt-2 mb-8;
    margin-right: 42px;
  }
}

.eventCard :global {
  @apply flex flex-row gap-3;
  @apply shadow-[0_0_2px_0_rgb(0,0,0,0.1)];
  border-radius: 12px;
  border-width: 1px;
  max-width: 770px;
  margin-left: 30px;
  margin-top: -20px;
  .image {
    @apply block relative overflow-hidden rounded-l-lg;
    max-width: 200px;
    width: 200px;
    height: 185px;
    > span:not(.tag) {
      width: 200px;
      height: 160px;
    }
    .tag {
      @apply absolute text-xs uppercase p-0 px-2 rounded-lg z-10 font-semibold font-title;
      @apply text-black;
      background-color: #66ebb0;
      left: 10px;
      top: 10px;
    }
    img {
      @apply block;
      object-fit: cover !important;
    }
  }
  .text {
    @apply flex flex-col gap-1 relative font-semibold text-base text-blue-dark;
    flex: 1;
    .event-country {
      @apply absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
    }
    > div,
    > h3,
    > h4 {
      @apply flex flex-row gap-2 items-center justify-items-center;
      svg {
        @apply opacity-40 overflow-visible;
        path {
          // fill: black;
          // stroke: black;
        }
      }
    }
    .event-name {
      b {
        @apply text-md;
      }
      > .logo {
        @apply block relative;
        width: 20px;
        height: 20px;
        left: -2px;
      }
    }
    .divisions {
      @apply pt-2 mt-1 border-t border-gray-200;
      ul {
        @apply inline-block;
        li {
          @apply inline capitalize;
        }
      }
    }
  }
}

.ClonedEvents :global {
  @apply flex flex-col gap-5;
  .item {
    @apply flex flex-row items-center justify-between rounded-md py-3 px-4;
    @apply cursor-pointer gap-2 overflow-auto bg-white;
    @apply shadow-[0_0_2px_0_rgb(0,0,0,0.1)];
    border-radius: 12px;
    border-width: 1px;
    h3 {
      @apply flex items-center w-full;
      svg {
        @apply ml-auto;
      }
    }
    &.expanded {
      h3 {
        @apply capitalize;
      }
      h3 + div {
        @apply flex;
      }
    }
    &.collapsed :global {
      h3 {
        @apply uppercase;
        svg {
          @apply rotate-90;
        }
      }
      h3 + div {
        @apply hidden;
      }
      .buttons {
        @apply hidden;
      }
      .togglelable {
        @apply hidden;
      }
    }
  }
}
