.header :global {
  @apply bg-transparent pr-5 pb-3 text-white;
  .wrap {
    @apply flex items-center justify-between gap-4;
  }
  nav {
    @apply mr-0;
    button {
      svg {
        @apply h-4 w-4;
      }
    }
  }
  .search-input {
    @apply relative flex flex-1 flex-row items-center p-0;
    width: 100%;
    svg {
      @apply absolute h-4  w-4 text-white;
    }
    input {
      @apply block w-full border-0 bg-transparent
      py-2 pl-6 text-white placeholder-white outline-none
      bg-no-repeat bg-left-bottom bg-cover;
      background-image: url(/images/faded-line.png);
      background-size: 130% 4px;
    }
  }
}
