.seriesCheckBoxes :global {
  @apply flex flex-col gap-1 overflow-auto
  bg-white py-4 px-5;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  min-height: 83vh;
  max-height: calc(100vh - 170px);
  border-width: 1px;
  h3 {
    @apply block w-full text-blue-dark font-semibold text-md;
  }
  .checkboxes {
    @apply flex flex-wrap border-b border-gray-300 pb-7;
    gap: 20px;
    .form-check {
      @apply -mb-2 flex flex-row justify-start items-center;
      width: calc(50% - 30px);
      box-sizing: border-box;
    }
  }
  input {
    @apply appearance-none h-4 w-4 border border-gray-400 rounded-sm bg-white 
    checked:bg-blue-brand checked:border-blue-brand focus:outline-none transition duration-200 
    mt-1 align-top bg-no-repeat bg-center bg-contain mr-2 cursor-pointer;
  }
  label ~ input:checked {
    @apply text-blue-brand;
  }
}