@import "@/styles/base/animations.scss";

.formGroup :global {
  .main-event-img {
    @apply mt-2 mb-8;
    margin-right: 42px;
  }
  .instructions {
    max-width: 520px;
  }
  .main-description {
    @apply mt-2 mb-8;
    margin-right: 42px;
  }
  .error {
    @apply text-red-600 block mt-3;
  }
}

.orderedFields {
  :global {
    .fields {
      @apply flex flex-col gap-8 mb-8;
    }
    section {
      @apply grid items-center gap-3 inline-grid grid-cols-2 w-full;
      grid-template-columns: auto 30px;
    }
    .OrderButtons {
      @apply grid gap-0 place-items-center;
      button {
        width: 18px;
        height: auto;
        opacity: 1;
        @apply transition-all duration-100;
        svg {
          @apply w-full h-auto;
        }
        &:not(.delete) {
          height: 16px;
          width: 22px;
          opacity: 0.6;
        }
        &.delete {
          @apply mt-3;
        }
        &:hover {
          @apply scale-125;
        }
      }
    }
    .buttons-row {
      @apply flex flex-row gap-4 justify-center;
      button:nth-child(1) {
        svg {
          width: 13px;
        }
      }
    }
  }
}
