@import "@/styles/base/animations.scss";

.formGroup :global {
  .main-event-img {
    @apply mt-2 mb-8;
    margin-right: 42px;
  }
  .instructions {
    max-width: 520px;
  }
  .main-description {
    @apply mt-2 mb-8;
    margin-right: 42px;
  }
}

.orderedFields {
  :global {
    .fields {
      @apply flex flex-col gap-8 mb-8;
    }
    section {
      @apply grid items-center gap-3 inline-grid grid-cols-2 w-full;
      grid-template-columns: auto 30px;
    }
    .YoutubeLink {
      .box-input {
        @apply flex flex-row items-center justify-center mb-3;
        @apply w-full border border-gray-400;
        svg {
          @apply w-6 h-auto opacity-60 my-auto mx-3;
        }
        input {
          @apply w-full border-none placeholder:opacity-80 placeholder:text-base;
        }
      }
      .YoutubeEmbed {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
    }
    .DragButtons {
      @apply grid gap-0 place-items-center;
      button {
        width: 18px;
        height: auto;
        opacity: 1;
        @apply transition-all duration-100;
        svg {
          @apply w-full h-auto;
        }
        &:not(.delete) {
          height: 16px;
          width: 22px;
          opacity: 0.6;
        }
        &.delete {
          @apply mt-3;
        }
        &:hover {
          @apply scale-125;
        }
      }
    }
    .buttons-row {
      @apply flex flex-row gap-4 justify-center;
      button:nth-child(1) {
        svg {
          width: 13px;
        }
      }
    }
  }
}
