.divisions {
  @apply mt-5 flex flex-col gap-3 pb-10;
  :global {
    .items {
      @apply flex flex-col gap-3;
    }
    .add-new {
      @apply flex flex-row items-center justify-between rounded-md py-3 px-4;
      @apply cursor-pointer gap-2 overflow-auto bg-white;
      @apply shadow-[0_0_2px_0_rgb(0,0,0,0.1)];
      border-radius: 12px;
      border-width: 1px;
      span {
        @apply block w-full text-md font-semibold text-blue-brand leading-tight flex flex-row uppercase;
      }
      svg {
        @apply relative ml-auto block opacity-100;
        width: 15px;
        height: 15px;
      }
    }
  }
}

.divisionEditor :global {
  .col:nth-child(2) {
    @apply ml-auto;
  }
  h3 {
    @apply flex flex-row gap-1 relative capitalize;
    svg {
      @apply right-0;
    }
  }
  select {
    @apply text-blue-brand font-semibold text-sm py-0 leading-tight #{!important};
  }
  .pool-items {
    @apply flex flex-col gap-3;
    > div {
      @apply w-full;
    }
    input {
      @apply text-blue-brand font-semibold text-sm leading-tight #{!important};
    }
    label {
      @apply mt-1;
    }
    > div {
      @apply items-center;
    }
    .col:nth-child(2) {
      @apply ml-auto mr-5;
      max-width: 60px;
    }
  }
  .team-info {
    @apply flex flex-row gap-5 justify-between px-3;
    button {
      @apply text-blue-brand font-semibold;
    }
    .capacity {
      @apply flex flex-row;
      span {
        @apply font-semibold;
      }
      span:last-child {
        @apply text-blue-brand ml-1;
      }
    }
  }
}

.playerFee {
  @apply flex flex-row items-center justify-between rounded-md py-3 px-4;
  @apply cursor-pointer gap-2 overflow-auto bg-white;
  @apply shadow-[0_0_2px_0_rgb(0,0,0,0.1)];
  border-radius: 12px;
  border-width: 1px;
  :global {
    .col {
      @apply flex flex-col gap-1;
      max-width: 60px;
      &:nth-child(1) {
        min-width: 200px;
      }
      &:nth-child(2) {
        @apply ml-auto mr-auto;
      }
      &:nth-child(3) {
        max-width: 100px;
      }
    }
    h3 {
      @apply text-md capitalize;
    }
    .vertical-check {
      @apply flex flex-col;
      input {
        @apply float-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none rounded-sm border border-gray-300 bg-white bg-contain bg-center bg-no-repeat align-top transition duration-200 checked:border-blue-600 checked:bg-blue-600 focus:outline-none;
        @apply checked:bg-blue-brand #{!important};
      }
      input:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      input:checked ~ label {
        @apply text-blue-brand #{!important};
      }
    }
    .price-input {
      @apply flex flex-col items-start relative;
      .currency {
        @apply absolute left-0 top-0;
      }
      input {
        @apply block w-auto rounded-none px-1 py-0 m-0 leading-none pl-3;
        @apply text-blue-brand font-semibold text-base h-auto;
        @apply border-0 border-b-2 border-gray-400 text-base;
        max-width: 70px;
        border-bottom-width: 1px;
        line-height: 1em;
      }
    }
  }
  &.hide {
    display: none !important;
  }
}
